body {
  font-size: 120%;
  font-family: Arial;
  background: linear-gradient(217deg, rgba(0, 255, 119, 0.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(27, 133, 27, 0.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(8, 93, 26, 0.8), rgba(0,0,255,0) 70.71%);
  
}

button, input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #39c8a5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #173624c5;
  color: floralwhite
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
